

/* Here are the hex code links for the OSU Color Palette - Primary & Neutral
 color theme in Adboe colors:

    Red:
#BB0000

    Grey:
#666666

    Olive:
#DDDEC6

    Brown:
#453831

    Black:
#000000

*/


/* Prevent Problems on Different Browsers */
* {
    box-sizing: border-box;
}

/* Font family for the whoe page here */
body {
    font-family: "tinos", serif;
    margin: 0;
}


/* Header stuff here */


/* Navigation Stuff here */
/* small screen navigation */
/* end small screens */


/* LARGE SCREEN NAVIGATION */

/* END LARGE SCREENS */

/* Main Stuff Here */
.hero { 
    width: 100%;
    height: auto;
}

main {
    padding: .5rem .75rem;
}

/* Form CSS here */


/* Image stuff here */

/* Gallery Stuff here */
div.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
}

div.gallery figure {
    margin: 0;
    height: auto;
}

div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: #1D4273;
    font-weight: 500;
}

div.gallery img:hover{
    box-shadow: 0px 0px 10px rgba(0,0,0,5);
}



/* Table Stuff Here */


/* Footer Stuff here */



/* Backgorund color for the whole page */


header, nav, main, footer {
    max-width: 80rem;
    margin: 0 auto;
}